extends layout
block content
    each movie in data
        h2
            a(href='/movie?name=' + movie.Title + '&year=' + movie.Year) #{movie.Title}
        p Released: #{movie.Year}
        p Type: #{movie.Type}
        img(src=movie.Poster, alt=movie.Title + ' poster')
